.top {
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    padding-top: 20px;
    display: flex;
    /* align-items: center; */
    font-family: "Space Grotesk";
    font-weight: 700;
    z-index: 999;
}

.topCenter {
    flex: 6
}

.topLeft,
.topRight {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* contents */


/* 1. images and search bar */

.topSocialIcon {
    font-size: 25px;
    cursor: pointer;
    margin-right: 8px;
}

.topProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.topSearchIcon {
    font-size: 18px;
    color: black;
    cursor: pointer;
    margin-left: 15px;
}


/* 2. the list of menu */

.topList {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItem {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    position: relative;
}

.topListItem::after {
    /* background-image: linear-gradient(90deg, #a0f5e9, #a0f5e9); */
    background-color: #8FFFF3;
    background-repeat: no-repeat;
    content: '';
    width: 0%;
    height: 7px;
    background-position: 0 90%;
    opacity: 0.7;
    position: absolute;
    bottom: 0%;
    left: 0%;
    transition: all 600ms ease;
}

.topListItem:hover::after {
    left: 0%;
    width: 100%;
}