.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginTitle {
    font-family: "Space Grotesk";
    font-size: 40px;
}

.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm>label {
    font-family: "Space Grotesk";
    margin: 10px 0;
}

.loginInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-bottom: 1px solid black
}

.loginInput:focus {
    outline: none;
}

.loginButton {
    font-family: "Space Grotesk";
    font-weight: 700;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}

.loginButton:hover {
    margin-top: 20px;
    cursor: pointer;
    /* border: 1px solid black; */
    color: white;
    background-color: black;
}

.loginRegisterButton {
    font-family: "Space Grotesk";
    font-weight: 700;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid black;
    background-color: #8FFFF3;
}