.all {
    width: 100%;
    padding: 10px 0 0 0;
    font-family: "Space Grotesk";
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 999;
}

.top {
    display: flex;
}

.topCenter {
    flex: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topCenterName {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.topCenterDescription {
    color: rgb(153, 153, 153);
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    font-family: "Open Sans";
    padding-bottom: 10px;
    text-align: center;
    inline-size: 400px;
}

.topLeft,
.topRight {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 70px;
}

.topLeft {
    justify-content: center;
}


/* contents */


/* 1. header profile image */

.topSocialIcon {
    font-size: 35px;
    cursor: pointer;
    margin-right: 8px;
    padding: 10px;
}

.topSocialIcon:hover {
    color: #a9fff6;
}

.topProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}


/* 2. the list of menu */

.topMenu {
    border-bottom: 1px solid #a7a4a4;
}

.topList {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 5px 20px 5px 0px;
    list-style: none;
}

.topListItem {
    font-weight: 300;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    padding: 12px;
    font-weight: 700;
}

.topListItem::after {
    background-color: #a9fff6;
    background-repeat: no-repeat;
    content: '';
    width: 0%;
    height: 7px;
    background-position: 0 90%;
    opacity: 0.7;
    position: absolute;
    bottom: 0%;
    left: 0%;
    transition: all 600ms ease;
}

.topListItem:hover::after {
    left: 0%;
    width: 100%;
}

.topLogoutButton {
    font-weight: 700;
    padding: 10px;
    margin-left: 16px;
    cursor: pointer;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}

.topLogoutButton:hover {
    cursor: pointer;
    /* border: 1px solid black; */
    color: white;
    background-color: black;
}

@media (max-width: 800px) {
    .top {
        flex-direction: column;
    }
    .topCenter {
        margin-bottom: 16px;
    }
    .topRight {
        flex-direction: column;
    }
    .topLogoutButton {
        order: 1;
        margin-top: 8px;
        margin-right: 0;
    }
}

.topSettingIcon {
    font-size: 35px;
    cursor: pointer;
}

.topSettingIcon:hover {
    color: #a9fff6;
}

.download {
    color: black;
}

.topResume .download {
    display: none;
}

.topResume:hover .resume {
    display: none;
}

.topResume:hover .download {
    font-size: 30px;
    padding: 0 36px 0 36px;
    display: inline;
    cursor: pointer;
}