.post {
    margin: 40px 20px 40px 20px;
    cursor: pointer;
    padding-top: 0;
    padding: 10px;
}

.box {
    position: relative;
}

.box:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border: 3px solid #c4fcf7;
    opacity: 0;
    -webkit-transition: all 0.25s cubic-bezier(0, 0, 0.58, 1);
    transition: all 0.25s cubic-bezier(0, 0, 0.58, 1);
}

.box:hover:before {
    padding: 5px;
    top: -18px;
    right: -18px;
    bottom: -18px;
    left: -18px;
    opacity: 1;
}

.post:hover .postTitle {
    text-decoration: underline;
    text-decoration-thickness: 0.3rem;
}

.postImg {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.postInfo {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.postCats {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.postCat {
    font-family: "Space Grotesk";
    font-size: 13px;
    color: white;
    background-color: rgb(15, 15, 15);
    line-height: 10px;
    padding: 10px;
    border: 1px solid white;
}

.postTitle {
    font-family: "Space Grotesk";
    font-size: 24px;
    font-weight: 700;
    padding-top: 10px;
    cursor: pointer;
}

.postDesc {
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 24px;
    margin-top: 15px;
    text-align: left;
    /* hide more than 4 lines */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}